@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
body {
   font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
}


* {
    margin: 0px;
    padding: 0px;
    
}


/* for nav */



nav {
  background-color:white;
  padding: 1rem;
  justify-content: space-between;
  display: flex;
      align-items: center;
 
}

nav li {
    list-style: none;
    display: inline;
    margin-right: 1.5rem;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: 500;
  font-size: 1rem;
  position: left;

}


nav .nav-btn {
    width: 164px;
    height: 44px;
  background-color:#469165;
  color: white;
  border: none;
  border-radius: 0.375rem;
  cursor: pointer;
  font-size: 1rem;
  display: flex;
  padding-left: 10px;
  align-items: center;
  
}



/* for main/hero */

#hero-section {
 width: 1350px;
 height: 640px;
 padding-top: 70px;
 padding-right: 120px;
 padding-bottom:140px ;
 padding-left: 120px;
 border: #4d5155 solid 1px;
 background: url(./assets/hero-bg.png);
 background-repeat: no-repeat;

}

/* #hero-section .hero-bg-image img {
   width: 1600px;
   height: 400px;
   
} */

#hero-section .hero-text {
    width: 1340px;
    height: 378px;
    margin: 115px 120px 181px 120px;
    border: red solid 1px;
    align-items: center;
    
}

#hero-section .hero-text .hero-arliy-access {
    width: 229px;
    height: 35px;
    padding: 8px 12px;
    color: #111827;
    text-align: center;
    margin-bottom: 24px;
    background-color: white;
    border-radius: 30px;
    margin: auto;
    text-align: center;
}

#hero-section .hero-text  .hero-big-text h1{
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    letter-spacing: -0.1px;
    text-align: center;
    margin-bottom: 24px;
    color: white;
}

#hero-section .hero-text  .hero-big-text h2{
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    text-align: center;
    margin-bottom: 24px;
    color: #30B868;
}



#hero-section .hero-text  .hero-big-text p{
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    text-align: center;
    margin-bottom: 32px;
    color: white;
}       

#hero-section .hero-start-btn  button{

    background-color: #6366f1;
    color: rgb(128, 24, 24);
    border: none;
    padding: 0.75rem 1.5rem;
    border-radius: 0.375rem;
    cursor: pointer;
    font-size: 1rem;
    text-align: center;
    align-items: center;
    margin: auto;
    display: flex;
}



#hero-section .hero-text .hero-start-btn{
    margin: auto;
    width: 456px;
    height: 48px;
    text-align: center;
    align-items: center;
    display: flex;
    gap: 10px;
}




/* card section */


#card-section {
    width: 1351px;
    height: 541px;
    padding-top: 70px;
    padding-right: 120px;
    padding-bottom:40px ;
    border: #4d5155 solid 1px;
    background: url(./assets/card-section-bg.png);
   
   }

 #card-section .card-heading {
     width: 1361px;
     height: 152px;
     margin: auto;
     text-align: center;
     align-items: center;
     display: flex;
     flex-direction: column;
     gap: 16px;
     margin-bottom: 48px;
 }  


#card-section .card-box{
    width: 1360px;
    height: 300px;
    margin: auto;
    text-align: center;
    align-items: center;
    display: flex;
    gap: 24px;
    justify-content: center;
}

#card-section .card-box .cards img{
    width: 60px;
    height: 60px;
    background-color: #F95555;
    border-radius: 10px;
    margin-bottom: 24px;
    align-items: center;
    justify-content: center;
}



/* brain section */


#brain-section {
    width: 1351px;
    height: 641px;
    display: flex;
    border: #0e0f0f solid 1px;
}


#brain-section .brain-image img {
    width: 100%;
    height: 100%;
}


#brain-section .brain-text {
    width: 700px;
    height: 398px;
    margin: 100px 0px;
    border: red solid 1px;
    align-items: center;
    text-align: center;
}

#brain-section .brain-text .brain-text-list .brain-text-list-items {
    display: flex;
    gap: 12px;
    margin-bottom: 16px;
    text-align: left;
}


#brain-section .brain-text h4{
    font-size: 25px;
    font-weight: 700;
    line-height: 44px;
    letter-spacing: -0.1px;
    text-align: left;
    margin-bottom: 24px;
    color: #111827;
}

#brain-section .brain-text h2{

    font-size: 36px;
    font-weight: 700;
    font-style: bold;
    line-height: 44px;
    text-align: left;
    color: #111827;
    margin-bottom: 16px;
}
#brain-section .brain-text .p1{
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    text-align: left;
    margin-bottom: 32px;
    color: #6b7280;
}


/* ready section  */


#ready-section {
    width: 1350px;
    height: 500px;
    padding-top: 1px;
    padding-right: 120px;
    padding-bottom:120px ;
    border: #4d5155 solid 1px;
   
   }

#ready-section .ready-container {
    width: 1360px;
    height: 384px;
    padding: 40px 80px;
}

#ready-section .ready-container .ready-text h2{
    font-size: 36px;
    font-weight: 700;
    line-height: 44px;
    letter-spacing: -0.1px;
    text-align: center;
    margin-bottom: 24px;
    color: #111827;
}


#ready-section .ready-container .ready-text p{
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    text-align: center;
    margin-bottom: 32px;
    color: #6b7280;
}

#ready-section .ready-container .ready-btn button{

    background-color: #6366f1;
    color: white;
    border: none;
    padding: 0.75rem 1.5rem;
    border-radius: 0.375rem;
    cursor: pointer;
    font-size: 1rem;
    text-align: center;
    align-items: center;
    margin: auto;
    display: flex;
}

#ready-section .ready-container .ready-btn p{
    width: 1280px;
    height: 20px;
    margin: auto;
    padding: 20px 0px;
    gap: 16px;
    text-align: center;
    align-items: center;
    color: #6b7280;
}


/* fotter section */


#footer-section {
    width: 1600px;
    height: 345px;
    padding-top: 70px;
    padding-right: 120px; 
    padding-bottom:40px ;
    padding-left: 120px;
    border: #4d5155 solid 1px;
    background-color: #001931;
   
   }

/* footer section  */

#footer-section .footer-container {
    width: 1360px;
    height: 64px;
    margin: auto;
    padding: 100px 64px 120px 120px;
    display: flex;
    justify-content: space-between;
}


#footer-section hr {
    border: none;
    border-top: 1px solid #4d5155;
    margin: 0;
    padding: 0;
    opacity: 20%;
}


#footer-section p {
    font-size: 14px;
    color: #6b7280;
    text-align: center;
    margin-top: 16px;
}
#footer-section .footer-container .footer-links .icons li { 
    list-style: none;
    margin: 0 7px;
    font-size: 24px;
    color: #6b7280;
    display: flex;
}
#footer-section .footer-container .footer-links .icons {
    display: flex;
}

#footer-section .footer-container .footer-links h3 {
    font-size: 20px;
    color: white;
    margin-bottom: 16px;
    padding-left: 10px;
}